<h2>Displaying Battle <%= @battle.display_name %></h2>

<% @battle.hashtags.each_with_index do |hashtag, index| %>
  <% count = hashtag.get_count_between(before: @battle.created_at) %>
  <li>Hashtag <%= hashtag.name %> has <span id="hashtag-count-<%= hashtag.id %>"><%= pluralize(count, 'point')%></span>. <span id="hashtag-ajax-<%= hashtag.id %>"> (currently refreshing)</span></li>
<% end %>
</ul>


<%= render "pie_chart", locals: { battle: @battle }%>

 <script>
  $('[data-toggle="tooltip"]').tooltip(); 
  $(document).ready(function () {
    <% @battle.hashtags.each do |h| %>
      $.ajax({
        url: "<%= url_for update_count_hashtag_for_battle_path(hashtag_id: h, battle_id: @battle) %>", success: function(result) {
          $("#hashtag-count-<%= h.id %>").html(result)
          $("#hashtag-ajax-<%= h.id %>").remove();
          $("#progress-hashtag-<%= h.id %>").attr('title', result);
        }, error: function(result) {
          $("#hashtag-ajax-<%= h.id %>").replaceWith("(could not update count)");
        }
      })
    <% end %>
  })
</script>