<h2>Displaying Battle <%= @battle.display_name %></h2>

<% @battle.hashtags.each_with_index do |hashtag, index| %>
  <% count = hashtag.get_count_between(before: @battle.created_at) %>
  <li>Hashtag <%= link_to hashtag.name, hashtag_path(hashtag) %> has <span id="hashtag-count-<%= hashtag.id %>"><%= pluralize(count, 'point')%></span>.</span></li>
<% end %>
</ul>


<%= render partial: "pie_chart", locals: { battle: @battle } %>

<script>
  $('[data-toggle="tooltip"]').tooltip(); 
  $(document).ready(function () {
    <% @battle.hashtags.each do |hashtag| %>
      $.ajax({
        url: "<%= url_for update_count_path(hashtag) %>"
      })
    <% end %>
  })
</script>
